.users{
    border-radius: 0.3em;
}
.user, .header{
    display: flex;
    justify-content: space-evenly;
    border:1px solid black;
    padding: 0.5em;
 }
 .header{
     background-color: rgb(179, 246, 255);
 }